<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Painel Financeiro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="./assets/img/logobrotolegal.png" />
  <ion-item>
    <ion-label>Período de Análise</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Início</ion-label>
    <ion-datetime displayFormat="DD MM YY" placeholder="Selecione"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Fim</ion-label>
    <ion-datetime displayFormat="DD MM YY" placeholder="Selecione"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Informações Financeiras</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Qtd. de Pedidos</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Valor Total dos Pedidos</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>% Comissão</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Comissão à Receber (R$)</ion-label>
    <ion-input></ion-input>
  </ion-item>
</ion-content>