<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Confirmar Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="./assets/img/logobrotolegal.png" />
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-thumbnail>
    <ion-label>
      <h3>Kit Família</h3>
      <p>5kg arroz e feijão</p>
      <p>2 azeites, 3 farofas e 5 sadinhas</p>
    </ion-label>
  </ion-item>
  <ion-button color="danger" expand="block">
    Confirmar
  </ion-button>
</ion-content>