<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="./assets/img/logobrotolegal.png" />
  <ion-button color="danger" expand="block">
    Adicionar Novo Pedido
    <ion-icon name="add"></ion-icon>
  </ion-button>
  <ion-button color="danger" expand="block">
    Acompanhar Pedidos
    <ion-icon name="cart"></ion-icon>
  </ion-button>
  <ion-button color="danger" expand="block">
      Últimos Pedidos Realizados
      <ion-icon name="list-box"></ion-icon>
    </ion-button>
</ion-content>