<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastrar Novo Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="./assets/img/logobrotolegal.png" />
  <ion-item>
    <ion-label>Nome</ion-label>
    <ion-input [(ngModel)]="nome" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input [(ngModel)]="email" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Sexo</ion-label>
    <ion-select [(ngModel)]="sexo" placeholder="Selecione">
      <ion-select-option value="f">Masculino</ion-select-option>
      <ion-select-option value="m">Feminino</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label  >Nascimento</ion-label>
    <ion-datetime [(ngModel)]="nascimento" displayFormat="DD MM YY" placeholder="Selecione"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Telefone</ion-label>
    <ion-input [(ngModel)]="telefone" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Endereço</ion-label>
    <ion-input [(ngModel)]="endereco" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label >Estado</ion-label>
    <ion-input [(ngModel)]="estado" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Cidade</ion-label>
    <ion-input [(ngModel)]="cidade" ></ion-input>
  </ion-item>
  <ion-button (click)="cadastrar()" color="danger" expand="block">
    Cadastrar
  </ion-button>
</ion-content>