<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="./assets/img/logobrotolegal.png" />
  <ion-button (click)="goCadastroCLI()" color="danger" expand="block">
    Cadastrar Novo Cliente
    <ion-icon name="person-add"></ion-icon>
  </ion-button>
  <ion-button color="danger" expand="block">
    Clientes Próximos
    <ion-icon name="pin"></ion-icon>
  </ion-button>
</ion-content>