<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Adicionar Novo Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="./assets/img/logobrotolegal.png" />
  <ion-searchbar></ion-searchbar>
  <ion-label>Cliente</ion-label>
  <ion-select placeholder="Selecione">
    <ion-select-option value="1">João da Silva</ion-select-option>
    <ion-select-option value="2">Marina dos Santos</ion-select-option>
    <ion-select-option value="3">Pedro Pereira</ion-select-option>
  </ion-select>
  <ion-item>
    <ion-label>Selecione</ion-label>
    <ion-toggle></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-thumbnail>
    <ion-label>
      <h3>Kit Solteiro</h3>
      <p>1kg arroz e 1kg feijão</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Selecione</ion-label>
    <ion-toggle></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-thumbnail>
    <ion-label>
      <h3>Kit Casal</h3>
      <p>1kg arroz e feijão</p>
      <p>azeite e farofa</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Selecione</ion-label>
    <ion-toggle></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-thumbnail>
    <ion-label>
      <h3>Kit Família</h3>
      <p>5kg arroz e feijão</p>
      <p>2 azeites, 3 farofas e 5 sadinhas</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Arroz</ion-label>
    <ion-toggle></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Feijão</ion-label>
    <ion-toggle></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Azeite</ion-label>
    <ion-toggle></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Farofa</ion-label>
    <ion-toggle></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Sardinha</ion-label>
    <ion-toggle></ion-toggle>
  </ion-item>
  <ion-button color="danger" expand="block">
    Avançar
  </ion-button>
</ion-content>