<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <img src="./assets/img/logobrotolegal.png"/>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Senha</ion-label>
      <ion-input type="password" [(ngModel)]="pass"></ion-input>
    </ion-item>
    <ion-button color="success" (click)="logIn()" expand="block">Login</ion-button>
    <ion-button color="danger" expand="block">
      <ion-icon name="logo-google"></ion-icon>
      Gmail
    </ion-button>
  </div>
</ion-content>