<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="./assets/img/logobrotolegal.png" />
  <ion-button (click)="goClients()" color="danger" expand="block">
    Clientes
    <ion-icon name="people"></ion-icon>
  </ion-button>
  <ion-button (click)="goPedidos()" color="danger" expand="block">
    Pedidos
    <ion-icon name="list-box"></ion-icon>
  </ion-button>
  <ion-button (click)="goPainelFinanceiro()" color="danger" expand="block">
    Painel Financeiro
    <ion-icon name="trending-up"></ion-icon>
  </ion-button>
  <ion-button color="danger" expand="block">
    Receitas
    <ion-icon name="logo-youtube"></ion-icon>
  </ion-button>
</ion-content>